body{
	background-image: url("http://www.adweek.com/files/imagecache/node-detail/news_article/twitter-music2-hed-2014.png");
  background-size: cover;
}

h1 {
	font-size: 80px;
	font-family: Palatino, 'Palatino Linotype', serif;
	color:red;
	margin-top: 100px;
	margin-left: 30px;
	filter: dropshadow(color=#B4BBCF,offx=6,offy=6,positive=1)
}
.log_in { 
	position: absolute;
	top: 20%;
	left: 70%;
	margin: 20px 0 0 -10px;
	width:400px;
	height:350px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:40px 40px 40px 40px;
	background-color:yellow;
	background-color:rgba(0,0,0,0.5); 
}
 h2 { 
 padding-top: 20px;
 color: yellow; 
text-shadow: 0 0 10px rgba(0,0,0,0.3); 
letter-spacing:1px; 
text-align:center;
font-size:20px; 
color:yellow;
}

input{
	border: 1px solid;
	border-radius: 4px;
	width:200px;
	background: rgba(0,0,0,0.3);
	color: yellow;
	font-size:17px;
}

 p INPUT{ 
 BORDER: 1px solid; 
 LINE-HEIGHT: 20px; 
 BACKGROUND-COLOR: orange; 
 MARGIN:auto; 
 PADDING: 4px; 
 WIDTH: 190px; 
 DISPLAY: block;  
 COLOR: #ffffff; FONT-SIZE: 20px; 
 CURSOR: pointer; 
 border-radius: 4px 4px 4px 4px; 
}

