body{
	background-image:url("https://www3.ebu.ch/files/live/sites/ebu/files/Trainings/Academy/Courses/2015/IMG/IMG2-social-media-and-music.png");
	background-size:cover;
}

.header h1 {
	font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  color:red;
	margin:auto;
}

p{
	color:yellow;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:40px 40px 40px 40px;
	background-color:hsla(240, 100%,  20%, 0.4); 
	width:520px;
	height:350px;
	padding-top:70px;
	padding-bottom:30px;
	padding-left:70px;
	padding-right:10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
	position: absolute;
	top: 20%;
	left: 15%;
	text-align: left;
}

.tit{
	margin-left:1000px;
	position:relative;
	bottom:430px;
}

#ti{
	color:yellow;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;

	text-align: center;

}

span {
	color:green;
	font-size:40px;
	position: relative;
	top: 1%;
	left: 15%;
}

 h2{
	color: green;
	position: relative;
	top:190px;
	margin-left:1000px;
	width: 300px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:40px 40px 40px 40px;
	background-color:hsla(240, 100%,  20%, 0.4); 
	text-align: center;
	font-size:40px;
}

 #bu { 
 BORDER: 1px solid; 
 LINE-HEIGHT: 20px; 
 BACKGROUND-COLOR: red;  
 PADDING: 4px; 
 WIDTH: 380px; 
 height: 40px;
 DISPLAY: block;  
 COLOR: #ffffff; 
 CURSOR: pointer; 
 border-radius: 18px 18px 18px 18px; 
 font-size:20px;
 margin-top:580px;
 margin-left:390px;
}
.ptit{
	color:yellow;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
	text-align: center;
	margin-left:1100px;
	margin-top:10px;
	position:relative;
	top:10%;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:40px 40px 40px 40px;
	background-color:hsla(240, 100%,  20%, 0.4); 
	width:300px;
	height:60px;
}

#back { 
 BORDER: 1px solid; 
 LINE-HEIGHT: 20px; 
 BACKGROUND-COLOR: red;  
 PADDING: 4px; 
 WIDTH: 380px; 
 height: 40px;
 DISPLAY: block;  
 COLOR: #ffffff; 
 CURSOR: pointer; 
 border-radius: 18px 18px 18px 18px; 
 font-size:20px;
margin:auto;
}

button{
	color:yellow;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:40px 40px 40px 40px;
	background-color:hsla(240, 100%,  20%, 0.4); 
	width:300px;
	height:60px;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}